__pycache__/ 
sei_credentials.json
SEI_credentials.json
*.bat 
*.png 
*.toml 
*.spec 
*test* 
Djembows*
*.pkg
*.toc
*.pyz
*.pyc
*.zip
*.txt
*.json
*.html
*.xlsx
.clineignore
.agent
.idea
.code-workspace